:root {
    --primary-color: #FC4364;
    --secondary-color: #444;
    --overlay-color: rgba(0, 0, 0, 0.7);
}

html * {
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Catamaran', 'sans-serif';
    line-height: 1.6;
    background-color: #e5e5e5;
    color: #333;
    font-size: 1.1rem;
}

/*Header*/
header {
    background-image: url("./assets/img/bg4.jpg");
    height: 90vh;
    padding-top: 22px;
    overflow: hidden;
    position: relative;
    max-height: 1000px;
    background-size: cover;
    background-position: center center;
    color: #FFFFFF;
}

nav {
    display: flex;
    width: 100%;
    min-height: 50px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

.navlinks {
    color: white;
    text-decoration: none;
}

.icon-button {
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    color: #FFFFFF;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.icon-button:active {
    background-color: rgba(200, 200, 200, 0.7);
}

.headlines {
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

.headlines h1 {
    display: inline-block;
    position: relative;
    font-weight: 600;
    line-height: 1.1em;
    font-size: 3.8rem;
}

.headlines h1 span {
    display: block;
}

.headlines p {
    margin-top: 15px;
    font-size: 1.5rem;
}

/* Content */
.content {
    position: relative;
    top: -70px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 1.9rem;
    margin-right: 1.9rem;
    padding: 70px 0;
    border-radius: 8px;
    height: 200vh;
}

.image-box {
    display: flex;
    justify-content: center;
    transform: translate3d(0, -95%, 0);
}

.round-pic {
    width: 100%;
    margin: auto;
    max-width: 160px;
    height: 160px;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.skill-set {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
}

.skill-language {
    /*background-color: #FC4364;*/
    max-width: 210px;
    max-height: 100px;
    padding: 20px;
    text-align: center;
}

.skill-language:hover {
    background-color: rgba(230, 230, 230, 0.35);
}

.skill-language:active {
    background-color: #e91e63;
    color: #e5e5e5;
}

.skill-language h4 {
    width: 50px;
}

.ic-lang {
    font-size: 50px;
}

.btn {
    padding: 1rem 2rem;
    font-size: 0.875rem;
    line-height: 1.333333;
    border-radius: 0.2rem;
    box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);
    border: none;
    cursor: pointer;
    display: block;
    width: 180px;
    text-decoration: none;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #e91e63;
}

/* Footer */
footer {
    padding-bottom: 25px;
}

footer ul {
    list-style: none;
}

footer li {
    font-size: 14px;
    display: inline;
    padding: 15px;
}

footer svg {
    position: relative;
    top: 3px;
    left: 3px;
    width: 28px;
    height: 21px;
}

.copyright {
    margin-top: 15px;
}

/*Utility*/
.box-center {
    margin: auto;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.text-center {
    text-align: center;
}

.default-hor-padding {
    padding-left: 16px;
    padding-right: 16px;
}

.default-ver-padding {
    padding-top: 16px;
    padding-bottom: 16px;
}