
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Catamaran', 'sans-serif' !important;
  line-height: 1.6 !important;
  color: #333 !important;
  font-size: 1.1rem !important;
}