:root {
  --primary-color: #034289;
  --secondary-color: #07285A;
  --text-color: #333;
  --overlay-color: rgba(0, 0, 0, 0.7);
}

html * {
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$desktop: 734px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

body {
  font-family: 'Catamaran', 'sans-serif';
  line-height: 1.6;
  background-color: #e5e5e5;
  color: var(--text-color);
  font-size: 1.1rem;
}

/*Header*/
header {
  background-image: url("../assets/img/bg4.jpg");
  min-height: 90vh;
  padding-top: 22px;
  overflow: hidden;
  position: relative;
  max-height: 1000px;
  background-size: cover;
  background-position: center center;
  color: #FFFFFF;
}

.phone-links {
  position: fixed;
  background-color: var(--primary-color);
  width: 100%;
  height: 100vh;
  z-index: 3;
  font-size: 1.52rem;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-in-out;
}

.phone-links ul {
  list-style: none;
  width: 100%;
}

.phone-links li {
  padding: 15px 0 15px 15px;
  text-align: center;
  font-size: 1.1em;
}

.phone-links li:hover {
  background-color: var(--secondary-color);
}

.times-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 35px;
  cursor: pointer;
}

nav {
  display: flex;
  min-height: 50px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  position: relative;
}

.navlinks {
  display: inline-block;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

#brand {
  font-size: 1.52rem;
}

.icon-button {
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  transition: 0.5s ease-in;
  color: #FFFFFF;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.icon-button:hover {
  background-color: rgba(180, 180, 180, 0.35);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headlines {
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 15px;
  height: 100%;
}

.headlines h1 {
  display: inline-block;
  position: relative;
  font-weight: 600;
  line-height: 1.1em;
  font-size: 3.8rem;
}

.headlines h1 span {
  display: block;
}

.headlines p {
  margin-top: 15px;
  font-size: 1.5rem;
}

/* Content */
.content {
  position: relative;
  top: -70px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 1.9rem;
  margin-right: 1.9rem;
  padding: 70px 0;
  border-radius: 8px;
}

.image-box {
  position: relative;
  display: flex;
  justify-content: center;
}

.round-pic {
  width: 100%;
  margin: auto;
  max-width: 160px;
  height: 160px;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

img {
  vertical-align: middle;
  border-style: none;
}

.resume {
  padding: 16px 16px 0 16px;
}

.resume p {
  text-align: center;
  margin: 10px 0;
}

.social-icons-box {
  display: flex;
  justify-content: center;
}

.social-icons-box a {
  text-decoration: none;
  color: #333;
}

.social-icons-box a:hover {
  color: rgba(51, 51, 51, 0.5);
}

.social-ic-btn {
  display: flex;
  width: 70px;
  height: 70px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
}

.social-icons {
  font-size: 35px;
  transition: 0.2s linear;
  margin: 8px 4px;
}

.social-ic-btn:hover .social-icons {
  transform: scale(1.3);
  color: #f1f1f1;
}

.social-ic-btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: var(--primary-color);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.social-ic-btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}


@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

.skills-set {
  display: none;
  width: 0;
  overflow: hidden;

  button {
    border: none;
    outline: none;
  }

  @include desktop {
    display: grid;
    width: 100%;
    margin: 8px 0 16px 0;
    grid-template-columns: 120px 140px 120px 120px;
    grid-column-gap: 20px;
    justify-content: center;
    height: 130px;
    overflow: hidden;
  }
}

.skills-set-phone {
  width: 140px;
  margin-left: auto;
  margin-right: auto;

  button {
    width: 100%;
    border: none;
  }

  @include desktop {
    display: none;
  }
}

.click-through {
  display: flex;
  justify-content: center;
  padding: 12px 0;

  button {
    position: relative;
    margin: 0 12px;
    background: none;
    border: none;
    cursor: pointer;
  }

  svg {
    color: var(--primary-color);
    font-size: 25px;
  }

  @include desktop {
    display: none;
  }
}


#python, #java, #javascript, #csharp {
  width: 100%;
}

.skills-lang {
  padding: 25px 25px 0 25px;
  border-radius: 7px;
  cursor: pointer;
  overflow: hidden;
  height: 120px;
}

.selected {
  background-color: #034289;
  color: #e5e5e5;
}

.skills-box {
  padding: 10px 0;
}

.skills-lang h4 {
  overflow: hidden;
  width: 70px;
}

.ic-lang {
  font-size: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 16px auto;
  width: 75%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  width: 100%;
}

.card-header img {
  width: 100%;
}

.card-body {
  padding: 5px 16px;
}

.card-body a {
  text-decoration: none;
  color: var(--primary-color);
}

.card-body a:hover {
  text-decoration: underline;
}

.education {
  p {
    text-align: left;
  }

  a {
    text-decoration: none;
    color: var(--primary-color)
  }

  a:hover {
    text-decoration: underline;
  }

  @include desktop {
    p {
      text-align: center;
    }
  }
}

.download-btn {
  @include desktop {
    display: flex;
    justify-content: center;
  }
}


.fixed {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 14px;
  background-color: var(--primary-color);
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.3s ease;
  z-index: 2;
}

#fixed-icon {
  color: #FFFFFF;
  font-size: 25px;
}

.fixed:hover .tooltiptext {
  visibility: visible;
}

/*Contact Section*/
.contact {
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.form-card {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 60px 0 40px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.3s ease;
}

.form-card:first-child {
  background: #e5e5e5;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}

.contact div > p {
  font-size: 13px;
  margin: 10px 0;
}

.contact form {
  padding: 0 8px;
}

form.go-bottom {
  input, textarea {
    padding: 12px 12px 12px 12px;
  }

  label {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  @include desktop {
    div {
      display: flex;
      justify-content: center;
    }

    input, textarea {
      width: 50%;
    }

    label {
      width: 50%;
      left: 25%;
    }
  }
}

form > div {
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
  overflow: hidden;
}

form > div > label {
  position: absolute;
}

form input, form textarea {
  display: inline-block;
  width: 100%;
  border: 2px solid gray;
  background: none;
  position: relative;
  z-index: 1;
  padding: 12px;
  font-size: 16px;
  outline: 0;
  border-radius: 5px;
}

form textarea {
  height: 100px;
}


form label {
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
}

form textarea {
  display: block;
  resize: vertical;
}

form input:valid, form textarea:valid {
  background: white;
}

form input:focus, form textarea:focus {
  border-color: var(--primary-color);
}

form input:focus + label, form textarea:focus + label {
  background: var(--primary-color);
  color: white;
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}


form.go-bottom input:focus, form.go-bottom textarea:focus {
  padding: 8px 6px 25px 6px;
}

form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
  top: 100%;
  margin-top: -16px;
  padding-bottom: 10px;
}

.form-btns {
  display: flex;
  flex-direction: column;
  height: 25vh;

  button {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  @include desktop {
    display: grid !important;
    grid-template-columns: 250px 250px;
    grid-column-gap: 35px;
    height: 60px;
  }
}

/* Services */
.services-section {
  padding: 60px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 1.9rem;
  margin-right: 1.9rem;
  border-radius: 8px;
  margin-bottom: 10px;
}

.inner-width {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.border {
  width: 160px;
  height: 2px;
  background: var(--primary-color);
  margin: 40px auto;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box {
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  transform: rotate(45deg);
  margin: 16px auto 30px auto;
  transition: 0.3s linear;
}

.service-icon-awesome {
  transform: rotate(-45deg);
  font-size: 26px;
}

.service-box:hover .service-icon {
  background: var(--primary-color);
  color: white;
}

.service-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.service-desc {
  font-size: 14px;
}


/* Footer */
footer {
  padding-bottom: 25px;
}

footer ul {
  list-style: none;
}

footer li {
  font-size: 14px;
  display: inline;
  padding: 8px;
}

footer svg {
  position: relative;
  top: 3px;
  left: 3px;
  width: 28px;
  height: 21px;
}

.bottom-links {
  color: #333333;
  display: grid;
  grid-template-columns: auto;

  @include desktop {
    display: flex;
  }
}

.copyright {
  margin-top: 15px;
}

#ann-box {
  padding: 8px 0 8px 0;
}

#ann-box-btn {
  margin-left: 16px;
  border: none;
  background-color: var(--primary-color);
  padding: 8px 14px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
}

#ann-box-btn:hover {
  background-color: rgba(3, 66, 137, 0.89);
}

/*Utility*/
.btn {
  display: inline-block;
  padding: 14px 28px;
  font-size: 0.875rem;
  line-height: 1.333333;
  border-radius: 0.3rem;
  box-shadow: 1px 3px 1px 0 rgba(3, 66, 137, 0.17), 0 3px 1px -2px rgba(3, 30, 137, 0.2), 0 1px 5px 0 rgba(3, 66, 137, 0.12);
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.btn-primary {
  color: #FFFFFF;
  background-color: var(--primary-color);
}

.btn-outline {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-outline-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: white;
}

.box-center {
  margin: auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.text-center {
  text-align: center;
}

.default-hor-padding {
  padding-left: 16px;
  padding-right: 16px;
}

.default-ver-padding {
  padding-top: 16px;
  padding-bottom: 16px;
}

.default-hor-margin {
  margin-left: 8px;
  margin-right: 8px;
}

.default-ver-margin {
  margin-top: 8px;
  margin-bottom: 8px;
}

.tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #666;
  color: #FFFFFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 110%;
  font-size: 0.75rem;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.open {
  width: 100%;
}

.open * {
  display: block;
}

.close {
  width: 0;
}

.close * {
  display: none;
}

.def-color {
  color: #666;
}

@import "custom-semantic-ui";